# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
.next/
out/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#antigravity
.antigravitycli

#pacakages
package-lock.json
package.json

#prd-doc
Wagr_prd.docx
Wagr_prd.txt
Wagr_prd.pdf    